body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 700px;
  margin: auto;
  padding: 30px;
}

.App input {
  margin-bottom: .4rem;
}

.App input[type="text"], .App input[type="button"], .App input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
}